@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8FAFC;
  color: #1E293B;
}

/* --- ESTILOS DE IMPRESIÓN (Ticketera) --- */
@media print {
  /* 1. Ocultar todo */
  body * {
    visibility: hidden;
  }

  /* 2. Resetear márgenes y scroll */
  html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    overflow: visible !important;
  }

/* Agrega el ID del nuevo ticket a la lista de visibilidad */
#printable-ticket, #printable-ticket *, 
#printable-shift-close, #printable-shift-close * { /* <--- AGREGADO ESTE ID */
  visibility: visible;
}

#printable-ticket, #printable-shift-close { /* <--- AGREGADO ESTE ID */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

  /* 5. Configuración de página 'auto' para que no corte antes */
  @page {
    margin: 0;
    size: auto; 
  }

  /* 6. Salto de página para autocorte */
  .page-break {
    page-break-after: always;
    break-after: page;
    display: block;
    height: 0;
    margin: 0;
    padding: 0;
  }
}